:root {
    /* --bg: #272e2a; */
    --bg: #272830;
    --left-bar-bg: #1118;
    --header: #202020;
    --todoBg: #202020aa;
    --bg-link: var(--bg);
    --color: #eeee;
    --hue: 120;
    --overlay: hsl(var(--hue), 37%, 80%);
    --todo-width: 700px;
}

body {
    /* background-color: var(--bg);
    background: var(--bg-link) fixed center center no-repeat;
    background-color: #001e;
    background-blend-mode: multiply;
    background-size: cover; */
    background: var(--bg);
    color: var(--color);
}

.clocks {
    color: #eee8;
}


.allWorkspaces {
    padding: 0.5em 1em;
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    justify-content: start;
    overflow: hidden;
    background: var(--left-bar-bg);
}

.workspaces {
    overflow: auto;
    height: 100%;
    justify-content: center;
    display: inlineblock;
    flex-direction: row;
    flex-wrap: wrap;
}

.workspaces .workspace {
    border-radius: 0 0.5em 0.5em 0px;
    margin-bottom: 0.25em;
    max-width: 16em;
    width: 100%;
    color: rgba(238, 238, 238, 0.667) !important;
    background: hsla(var(--bg), 10%);
    display: flex;
    flex-direction: row;
    transition: 250ms;
    cursor: pointer;
    transition: 200ms;
}

.workspaces .workspace .title {
    border-radius: 0 0.5em 0.5em 0px;
    width: 100%;
    padding: 0.75em;
    border-left: hsla(var(--bg), 90%) 4px solid;
    transition: 200ms;
}

.workspace .workspace .tools {
    user-select: none;
    font-size: 0.9em;
}

.workspaces .workspace .title:hover {
    background: hsla(var(--bg), 100%);
    border-radius: 0.5em;
    color: #fffe;
}

.workspaces .workspace .tools .tool {
    transition: 200ms;
    border-radius: 0.25em;
    padding: 0.25em;
}

.workspaces .workspace .tools .tool:hover {
    background: hsla(var(--bg), 100%);
    color: #fffe;
}

@media (max-width: 600px) {
    .allWorkspaces {
        width: 100%;
        overflow: auto;
        justify-content: center;
    }

    .workspaces .workspace {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 600px) {
    .workspaces .workspace {
        min-width: 14em;
    }
}

.addWorkspaceMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    background: #2224;
    height: 100%;
    width: 100%;
}

.addWorkspaceMenu .content {
    border-radius: 0.5em;
    overflow: hidden;
    width: 100%;
    position: relative;
    max-width: 600px;
    border: #eee4 1px solid;
    box-shadow: #111 0px 0px 6px;
    background: #222e;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.addWorkspaceMenu .content .title {
    font-size: 1.25em;
    padding: 0.5em;
}

.addWorkspaceMenu .content .buttons { 
    position: relative;
    display: grid;
    cursor: pointer;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
    padding-top: 0;
    gap: 0.15em;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.addWorkspaceMenu .content .buttons .button {
    border: none;
    transition: 100ms;
    border-radius: 0.25em;
    background: transparent;
    color: #eeea;
    cursor: pointer;
    padding: 0.5em 0.25em;
    font-size: 0.9em;   
}

.addWorkspaceMenu .content .buttons .defOption {
    /* background: hsl(220, 37%, 70%); */
    /* color: #222; */
    background: #eeee;
    color: #222e;
    grid-column: 1 / 3;
}

.addWorkspaceMenu .content .buttons .button:hover {
    background: #eeeb;
    color: #111e;
}

.addWorkspaceMenu .content .close {
    cursor: pointer;
    position: absolute;
    width: fit-content;
    padding: 0.5em;
    border: none;
    top: 0;
    right: 0;
    color: #eeea;
    background: #0000;
    transition: 200ms;
}

.add_workspace {
    cursor: pointer;
    border: hidden;
    border-radius: 0.5em;
    padding: 0.5em;
    background: #0000;
    border: hsl(270, 40%, 45%, 95%) 2px solid;
    color: hsl(270, 50%, 60%, 95%);
    font-size: 1em;
    transition: 200ms;
}

.add_workspace:hover {
    transform: translateY(-0.2em);
    background: hsl(270, 40%, 50%, 95%);
    color: #fffe;
}

.add {
    color: #000a;
    border: none;
    /* border: #0005 1px solid; */
    box-shadow: #0005 2px 4px 4px;
    background: hsl(var(--hue), 50%, 61%);
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    font-size: 1.4em;
    height: 2em;
    aspect-ratio: 1 / 1;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    right: 1rem;
    transition: 200ms;
}

.add:hover {
    color: #000;
    /* background: hsl(370, 37%, 53%); */
    /* box-shadow: #0003 10px 20px 10px; */
}

.app .header {
    padding: 0.5rem 0;
    color: #eeeb;
    font-size: 1.5em;
}

.showWorkspace {
    transition: 250ms;
}

.showWorkspace .header {
    /* background: var(--header); */
    /* background: #16161ca4; */
    background: #1d1d23;
    box-shadow: 0 2px 8px #0008;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.showWorkspace .header .title {
    background: transparent;
    border: hidden;
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    color: #ccce;
}

.icon {
    user-select: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}


.showWorkspace .header .title:focus-within {
    outline: none;
}


.showWorkspace .header .return {
    cursor: pointer;
    padding: 0 0.5em;
    border: none;
    background: var(--bg);
    background: var(--color);
    background: hsl(var(--hue), 75%,81%);
    background: transparent;
    color: inherit;
    border-radius: 1em;
    /* padding: 0 1em; */
    font-size: 1.25em;
    flex-shrink: 0;
    width: 1em;
    width: fit-content;
}

.todos {
    padding: 0 0.75em;
    margin: 1.5em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: start;
    align-items: center;
}

.todos .todo {
    overflow: hidden;
    border-radius: 0.5em 0.5em 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--todo-width);
    background: var(--todoBg);
    justify-content: space-between;
}

.todos .divider {
    padding: 0.25em;
    width: 100%;
    text-align: center;
    max-width: var(--todo-width);
    background: #1113;
    border-radius: 0.5em;
    color: #eee8;
}

.todos .today {
    background: #0004;
    font-weight: bold;
    color: hsl(270,52%,80%);
}

.todos .todo .body {
    padding: 0.75em;
    width: 100%;
}

.todos .todo .remove {
    padding: 0.5em;
    cursor: pointer;
    flex-shrink: 0;
    border: none;
    background: hsl(0, 37%, 48%, 0%);
    transition: 200ms;
}

.todos .todo .remove:hover {
    background: hsl(0, 37%, 40%, 70%);
}

.todos .todo .remove:hover .icon {
    color: hsl(0, 50%, 52%);
}


.todos .todo .remove .icon {
    color: #eee9;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    background: #222e;
    height: 100%;
    width: 100%;
}

.popup .content {
    width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: center;
}

.popup .input {
    text-align: center;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    color: hsl(120, 58%, 70%);
    border: none;
    padding: 0.25em;
    font-size: 1.75em;
    background: transparent;
    width: 100%;
    text-align: center;
    transition: 200ms;
    border-radius: 0.25em;
}

.popup .input:focus-within {
    outline: none;
}


.popup .input:focus {
    background: #eee1;
}

.popup .content .button {
    padding: 0.4em 0.5em;
    font-size: 0.9em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    color: #eeea;
    background: transparent;
    transition: 200ms;
    width: 100%;
    max-width: 10em;
}

.relative {
    position: relative;
}

.popup .content .button:hover {
    background: hsl(var(--hue), 37%, 40%);
    background: #eee1;
}

.goback {
    cursor: pointer;
    border-radius: 0.25em;
    border: none;
    background: hsl(220, 37%, 48%);
    padding: 0.25em;
    font-size: 0.9em;
    margin-left: 0.5em;
}